<!DOCTYPE html>
<html>
    <div style="text-align:center" >
        <br><br>
        <h4 style=word-spacing:3px ;>This model will scrape <b style="color: yellow;"> BRAND , PRICE</b> and <b style="color: yellow ;"> IMAGE</b> of a product from <b>Flipkart</b> Website.</h4>
        <br><br><br><br><br><br><br><br>
    
        <body style='background-color: rgb(30, 27, 27)' text= 'White'>
        
        <form action="/watch" method="POST" >

            <label  style="font-family:cursive"  for="Search"><b style="font-size: 10mm; color: yellow;" >Web Scrapping</b></label><br><br><br><br>
            <input type="text"  id="name" name="name" value="Search Here"><br><br><br>
            <input type="submit" value="Search"><br><br><br><br><br><br>
    
            <h2 style="word-spacing:3px" ><b style="color: white;">Note* - Every search category is in a different HTML format, so this model might not work on Every category. </b></h2><br><br>
            

        </body>
    </div>

</html>